@model List<Employees.Models.Employee>


<h1>List of all Employees</h1>
<table class="table">
    <thead>
        <tr>
            <th hidden>Id</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Salary</th>
            <th>Designation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
        <tr>
            <td hidden>@employee.Id</td>
            <td>@employee.Name</td>
            <td>@employee.EmailAddress</td>
            <td>@employee.Salary</td>
            <td>@employee.Designation</td>
            <td><a href="Employees/View/@employee.Id">View</a></td>
        </tr>
        }
    </tbody>
</table>